@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --COLOR-GRAY: #333333;
  --COLOR-GRAY-DARK: #222222;
  --COLOR-GRAY-LIGHT: #cccccc;
  --COLOR-ONGOING: #98c1d9;
  --COLOR-DONE: #ee6c4d;
  font-family: Helvetica;
}

.task {
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

/* TASK STATE */

.PLANNED {
  background: var(--COLOR-GRAY-LIGHT);
}

.ONGOING {
  background: var(--COLOR-ONGOING);
}

.DONE {
  background: var(--COLOR-DONE);
}
